
credentials:
    base_url : 'https://ilias.studium.kit.edu/'
    url : "ilias.php?baseClass=ilPersonalDesktopGUI&cmd=jumpToSelectedItems"
    login_url : "https://ilias.studium.kit.edu/login.php?target=&client_id=produktiv&cmd=force_login&lang=de"
    uname : "uname"
    password : 'password'

    # Download PDF files
    pdf : false

    # The place where files get safed
    base_path : "ilias"

    # Folder names which should be ignored
    # NOTE: Do not look at the folder name in ilias! Instead look at the one on your hard drive!
    blacklisted_folders :
        - "Folder_1"
        - "Folder_2"

    # Dont get to crazy here
    num_threads : 4


